@import '../../../../styles/_variables';

:host {
    display: block;
}

.ce-candidate-details__name {
    margin: 0 0 $spacing--small;
}

.ce-candidate-details__votes {
    margin-top: $spacing--small;
}
