<div class="ce-coffee-candidate__name">
    <div class="ce-coffee-candidate__label">Name</div>
    <div class="ce-coffee-candidate__value">{{candidate.name}}</div>
</div>

<div class="ce-coffee-candidate__votes">
    <div class="ce-coffee-candidate__label">Votes</div>
    <div class="ce-coffee-candidate__value">{{candidate.votes.length}}</div>
</div>

<div class="ce-coffee-candidate__action">
    <button
        class="ce-button ce-button--primary ce-coffee-candidate__action-button"
        (click)="onUserAction.emit(candidate.userAction)"
        [ngSwitch]="candidate.userAction"
    >
        <ng-container *ngSwitchCase="UserAction.AddVote">
            Add vote
        </ng-container>
        <ng-container *ngSwitchCase="UserAction.RemoveVote">
            Remove vote
        </ng-container>
    </button>
</div>

<div class="ce-coffee-candidate__additional-actions">
    <ng-content></ng-content>
</div>
